/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 * FROM [ContosoUniversity].[dbo].[Student]
SELECT TOP 1000 * FROM [ContosoUniversity].[dbo].[Enrollment]
SELECT TOP 1000 * FROM [ContosoUniversity].[dbo].[Course]
